@media screen and (max-width:1144px) {
    .icon-box p {
        width: 18rem;
    }
    
    .leftContent p {
        padding-left: 3rem;
    }
}
@media screen and (max-width:1046px) {
    .content-home h1 {
        font-size: 2.3em;
        margin-top: 7rem;
    }
}
@media screen and (max-width:1060px) {
    .leftContent p {
        width: 30rem;
    }
}
@media screen and (max-width:972px) {
    .box{
        font-size: 4em;
    }
}
@media screen and (max-width:954px) {
    .navItem li {
        margin-left: 2rem;
    }
    .post h1{
        font-size: 1.3em;
    }
    .quotes {
        margin-top: 1rem;
    }
    .leftContent p {
        width: 28rem;
    }
}
@media screen and (max-width: 916px) {
    .leftContent p {
        width: 48vw;
    }
    .quotes {
        padding: 0.7rem 1.2rem;
        padding-bottom: 3rem;
    }
}
@media screen and (max-width: 886px) {
    .fade-in img {
        width: 30vw;
    }
    .lpost{
        font-size: 1em;
    }
}
@media screen and (max-width: 860px) {
    .icon-box h3 {
        font-size: 20px;
    }
    .icon-box p {
        width: 13rem;
    }
}
@media screen and (max-width:828px) {
    .right{
        margin-right: 0rem;
    }
}
@media screen and (max-width:800px) {
    .rightImagesSection{
        display: none;
    }
}
@media screen and (max-width:782px) {
    .right button{
        font-size: 0.7em;
    }
}
@media screen and (max-width:750px) {
    .right button{
        font-size: 0.7em;
    }
    .navItem ul li a {
        font-size: 17px;
    }
    .login{
        left: 18%;
    }    

    .signup {
        left: 18%;
    }
}
@media screen and (max-width:732px) {
    nav{
        position: absolute;
        background-color: #717171;
        width: 100%;
        z-index: 1;
        height: 6rem;
    }
    .leftContent p{
        font-size: 1em;
    }
    nav{
        flex-direction: column;
        transition: 0.5s;
    }
    .homeContainer {
        margin-top: 6rem;
    }
    .navItem, .right{
        position: relative;
        top: -30rem;
        transition: 0.5s;
    }
    nav ul{
        flex-direction: column;
        margin-top: -1rem;
    }
    nav ul li{
        margin-top: 1rem;
    }
    .logo{      
position: relative;
left: -43vw;
transition: .5s;
    }
    #show{
        display: block;
    }
    .navItem ul li a{
        color: white;
    }
}
@media screen and (max-width:700px) {
    .quotes {
        width: 28rem;
        padding: 0.2rem 0.2rem;
        margin-left: 1rem;
    }
    .post h1 {
        font-size: 1.1em;
    }
}
@media screen and (max-width:666px) {
    .content-home h1 {
        font-size: 1.9em;
        margin-top: 6rem;
        width: 26rem;
    }
    .login, .signup{
        left: 2rem;
    }
    .box {
        margin-top: 1rem;
        font-size: 3em;
    }
    blockquote {
        font-size: 0.9em;
    }
    cite{
        margin-right: 3rem;
    }
    .quotes {
        width: 24rem;
    }
    .posts {
        flex-direction: column;
    }
    .post{
        width: 90%;
        margin: auto;
    }
    .post h1 {
        font-size: 1.8em;
    }
    .details {
        width: 90%;
    }
    .lpost{
        flex-direction: column;
    }
    .lpost img{
        margin: auto;
    }
    .details p{
        text-align: center;
    }
    .columnreverse{
        flex-direction: column-reverse;
    }
    .icon-box p {
        /* width: 13rem; */
        margin: auto;
    }
    .row{
        flex-direction: column;
    }
}
@media screen and (max-width:600px) {
    .content-home h1 {
        font-size: 1.6em;
        width: 22rem;
    }
    .quotes {
        width: 19rem;
        text-align: center;
    }
    .post h1 {
        font-size: 1.6em;
    }
    .aboutContent{
        flex-direction: column-reverse;
        margin: auto;
    }
    .fade-in img {
        width: 59vw;
    }
    .login {
        width: 27rem;
        height: 25rem;
    }
    .fade-in{
        margin-right: 0;
    }
}
@media screen and (max-width: 516px) {
    .signup{
        width: 27rem;
        height: 27rem;
    }
}
@media screen and (max-width: 500px) {
    .homeContainer{
        flex-direction: column;
    }
    .slideshow-container{
        width: 15rem;
        position: relative;
        margin: auto;
    }
    .content-home{
        margin: auto;
    }
    .input {
        width: 16rem;
    }
    .signup, .login{
        width: 25rem;
    }
    .login h1, .signup h1 {
        font-size: 2em;
        color: #ff6612;
        margin-top: 1.6rem;
        position: absolute;
    }
    .checkbox{
        margin-left: 3rem;
    }
}
@media screen and (max-width:440px) {
    .signup, .login {
        width: 20rem;
    }
    .input {
        width: 14rem;
        margin: 2rem 3rem;
    }
    .signup h1 {
        margin-left: 2rem;
    }

}
@media screen and (max-width: 1100px) {
    .destination-item {
        margin: 2rem 1rem;
    }
.maindetails table, td, tr {
    width: 80vw;
}
}
@media screen and (max-width: 414px) {
    .lposts img {
        width: 16rem;
        border-radius: 20px;
    }
    
}
@media screen and (max-width:400px) {
    .animate{
        font-size: 34px;
    }
    .leftContent p {
        width: 80vw;
        padding-left: 1rem;
    }
    form {
        margin-top: 5rem;
    }
    .input {
        width: 13rem;
    }
    .signup, .login {
        width: 21rem;
    }
.signup h1, .login h1 {
    margin-left: 2rem;
}
}
@media screen and (max-width:350px) {
    .lposts img {
        width: 14rem;
    }
    .content-home h1 {
        width: 18rem;
    }
}

@media screen and (max-width:1326px) {
    .destination-item {
        margin: 2rem 34px;
    }
}
@media screen and (max-width:1320px) {
    .destination-item {
        margin: 2rem 34px;
    }
}
@media screen and (max-width:1260px) {
    .destination-item {
        margin: 2rem 30px;
    }
}
@media screen and (max-width:1230) {
    .destination-item {
        margin: 2rem 14px;
    }
}
@media screen and (max-width:1210px) {
    .destination {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
    }
.destination img {
    width: 20vw;
}
} 
@media screen and (max-width: 733px) {
    .destination {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
    }
    .eachPlace{
        margin-top: 6rem;
    }
    .destinationheading {
        margin-top: 7rem;
    }
    .destination img {
        width: 96%;
    }
}
@media screen and (max-width:540px) {
    .destinationheading h1 {
        font-size: 2.3em;
    }
    .maindetails table, td, tr {
        width: 90vw;
    }
}

@media screen and (max-width: 440px) {
    .destination {
        display: block;
    }
    .destinationheading h1 {
        font-size: 2em;
    }
    .login h1 {
        margin-left: 7rem;
    }
    #forgetpswdlink {
        position: absolute;
        right: 4rem;
        margin-right: 33px;
        top: 16rem;

    }
    .input1 {
        justify-content: center;
        display: flex;
    }
    .checkbox {
        margin-left: 2rem;
    }
}
@media screen and (max-width:380px) {
    .destinationheading h1 {
        font-size: 26px;
    }

}
@media screen and (max-width:800px) {
    .mainPara img {
        width: 40vw;
        margin: 4rem 1rem;
    }
}
@media screen and (max-width:600px) {
    .mainPara {
        display: block;
        text-align: center;
    }
    .mainPara img {
        width: 66vw;
        margin: 1rem 1rem;
    }
}
@media screen and (max-width:500px) {
    .checkbox {
        margin-left: -8rem;
    }
}
@media screen and (max-width: 372px) {
    .signup, .login {
        width: 19rem;
    }
    .btnsubmit button {
        width: 17rem;
        margin-top: 2rem;
    }
}